<app-panel title="Users" icon="pi-user">
  <app-users-table (userSelected)="onUserSelected($event)"></app-users-table>
</app-panel>
<div>
  <app-delete-admin-button
    [user]="selectedUser"
  ></app-delete-admin-button>
  <app-button
    icon="pi pi-plus"
    label="Add Admin"
    routerLink="/admins/add-admin"
  ></app-button>
</div>
<app-panel title="Businesses" icon="pi-building">
  <app-businesses-table></app-businesses-table>
</app-panel>
<div>
  <app-button
    icon="pi pi-plus"
    label="Add Business Owner"
    routerLink="/admins/add-businessowner"
  ></app-button>
</div>

