<div class="mt-2">
    <app-panel [title]="title" icon="pi-home" [toggleable]="false">
        <app-home-list [id]="id" (onHomeNameChange)="title = $event" />
    </app-panel>
</div>
<div class="mt-2 flex w-full gap-2 align-items-stretch">
    <div class="flex gap-2 flex-column">
        <app-panel title="Add Members" icon="pi-user-plus" [toggleable]="true">
            <div class="w-fit">
                <app-add-member-form [homeId]="id" />
            </div>
        </app-panel>
        <div class="max-w-full">
            <app-panel title="Add Device" icon="pi-plus" [toggleable]="true">
                <app-add-device-form [homeId]="id" />
            </app-panel>
        </div>
        <div class="max-w-full">
            <app-panel title="Add Room" icon="pi-plus" [toggleable]="true">
                <app-add-room-form [homeId]="id" />
            </app-panel>
        </div>
        <div class="max-w-full">
            <app-panel title="Name Home" icon="pi-pencil" [toggleable]="true">
                <app-name-home-form [homeId]="id" />
            </app-panel>
        </div>
    </div>
    <div class="w-full flex gap-2 flex-column">
        <app-panel title="Members" icon="pi-users" [toggleable]="true">
            <app-members-table [homeId]="id" />
        </app-panel>
        <app-panel title="Devices" icon="pi-lightbulb" [toggleable]="true">
            <app-home-devices-table [homeId]="id" />
        </app-panel>
    </div>
</div>
