<app-form [form]="memberForm" (onSubmit)="onSubmit()">
    <app-form-input type="text" label="Email" placeholder="email@example.com" name="email" [form]="memberForm"
        iconClass="pi pi-envelope" [formField]="formFields.email">
    </app-form-input>

    <ng-container *ngFor="let permission of availablePermissions">
        <app-form-toggle-button [onLabel]="permission.label"
            [offLabel]="'Cannot ' + permission.label.split(' ').slice(1).join(' ')" [onIcon]="'pi pi-check'"
            [offIcon]="'pi pi-times'" [form]="memberForm" [name]="'permissions.' + permission.key"
            (onChange)="togglePermission(permission.key)">
        </app-form-toggle-button>
    </ng-container>

    <app-form-button title="Add Member" color="primary" [loading]="memberStatus.loading" [disabled]="!memberForm.valid">
    </app-form-button>
</app-form>