<div class="mt-2">
    <app-panel [title]="title" icon="pi-building" [toggleable]="false">
        <app-panel title="Devices" icon="pi-microchip" [toggleable]="true">
        </app-panel>
    </app-panel>
</div>
<div class="mt-2 flex w-full gap-2 align-items-stretch">
    <div class="flex gap-2 flex-column">
        <div class="max-w-full">
            <app-panel title="Import Devices" icon="pi-file-import" [toggleable]="true">
            </app-panel>
        </div>
        <div class="max-w-full">
            <app-panel title="Turn into HomeOwner" icon="pi-users" [toggleable]="true">
            </app-panel>
        </div>
    </div>
    <div class="w-full">
        <app-panel title="Create device" icon="pi-plus" [toggleable]="true">
        </app-panel>
    </div>
</div>