<app-base-devices-table [clickableRows]="false" [columns]="columns" [devices]="devices" [loading]="loading"
    [paginate]="false"
    [customTemplates]="{name: nameTemplate, extraFields: extraFieldsTemplate, roomId: roomTemplate, details: detailsTemplate}" />
<ng-template #roomTemplate let-row="row">
    <app-rooms-dropdown [hardwareId]="row.hardwareId" [homeId]="homeId" [roomId]="row.roomId" [rooms]="rooms"
        [loading]="loadingRooms" />
</ng-template>

<ng-template #nameTemplate let-row="row">
    {{ row.name || "-"}}
</ng-template>

<ng-template #extraFieldsTemplate let-row="row">
    {{ getExtraFields(row) }}
</ng-template>

<app-dialog [(visible)]="visibleDialog" [closable]="true" [title]="selectedDevice?.businessName ?? ''">
    <ng-container *ngIf="selectedDevice">
        <app-list [items]="getExtraFields(selectedDevice)" />
    </ng-container>
</app-dialog>

<ng-template #detailsTemplate let-row="row">
    <app-button (click)="onRowClick(row)" icon="pi pi-info-circle" label="Details" severity="info" />
</ng-template>