<p-table [columns]="columns" [value]="data" [loading]="loading" [showLoader]="false"
    [selectionMode]="clickableRows ? 'single' : null" (onRowSelect)="handleRowClick($event)">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" *ngIf="loading">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns>
        <tr *ngFor="let _ of loadingArray">
            <td *ngFor="let i of columns">
                <p-skeleton />
            </td>
        </tr>
    </ng-template>
</p-table>