<div class="centered-content">
    <app-icon-title icon="pi pi-desktop" class="mb-4 text-primary-600 text-center"></app-icon-title>
    
    <app-form [form]="importDevicesForm" (onSubmit)="onSubmit()">
      <!-- Dropdown para Importer -->
      <app-form-dropdown 
        label="Importer" 
        placeholder="Select importer" 
        name="importer" 
        [form]="importDevicesForm" 
        [options]="importerOptions">
      </app-form-dropdown>
  
      <!-- Dropdown para Import File -->
      <app-form-dropdown 
        label="Import File" 
        placeholder="Select import file" 
        name="importFile" 
        [form]="importDevicesForm" 
        [options]="fileOptions">
      </app-form-dropdown>
  
      <app-form-button title="Import Devices" color="primary" [loading]="importDevicesForm.invalid" [disabled]="importDevicesForm.invalid"></app-form-button>
    </app-form>
  </div>
  