<div class="mt-2">
    <app-table
        [columns]="columns"
        [data]="businesses"
        [loading]="loading"
        [clickableRows]="true"
        (rowClick)="onRowClick($event)"
        [customTemplates]="{
            logo: logoTemplate,
            name: nameTemplate,
            ownerName: ownerNameTemplate,
            ownerSurname: ownerSurnameTemplate,
            ownerEmail: ownerEmailTemplate,
            rut: rutTemplate
        }"
    >
    </app-table>

    <app-paginator
        [currentPage]="pagination?.page"
        [totalPages]="pagination?.totalPages"
        [pageSize]="pagination?.pageSize"
        (pageChange)="onPageChange($event)"
    >
    </app-paginator>
</div>

<ng-template #logoTemplate let-row="row">
    <app-avatar
        defaultIcon="pi pi-image"
        [image]="row.logo"
        shape="square"
        size="xlarge"
    ></app-avatar>
</ng-template>

<ng-template #nameTemplate let-value="value">
    {{ value || "-" }}
</ng-template>

<ng-template #ownerNameTemplate let-value="value">
    {{ value || "-" }}
</ng-template>

<ng-template #ownerSurnameTemplate let-value="value">
    {{ value || "-" }}
</ng-template>

<ng-template #ownerEmailTemplate let-value="value">
    {{ value || "-" }}
</ng-template>

<ng-template #rutTemplate let-value="value">
    {{ value || "-" }}
</ng-template>
