<div *ngFor="let item of items; let i = index">
    <p *ngIf="item.value">
        <span class="text-gray-700">
            {{ item.label }}:
        </span>
        <span class="text-primary font-bold">
            {{ item.value }}
        </span>
    </p>
    <p *ngIf="!item.value">
        <span class="text-gray-700">
            {{ item.label }}:
        </span>
        <span class="text-gray-500">
            N/A
        </span>
    </p>
    <p-divider *ngIf="i + 1 < items.length" />
</div>